/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  margin: 0 auto;
  width: 371px;
  height: 40px;
}

.form input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
  padding-left: 16px;
}

.form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

.form button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  padding: 24px 156px;

  width: 1440px;
  height: 696px;
}

.gallery-link {
  display: flex;
}

.gallery-image {
  width: 360px;
  height: 200px;
}